@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
}
main{
    display: flex;
    /* justify-content: center; */
    /* align-items: flex-start; */
}
section:has(.testimonial){
    padding: 4% 5rem;
    background: wheat;
    width: 35vw;
    height: 100vh;
}
.align{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
}

.testimonial{
    /* margin-bottom: rem; */
    padding: 1.5rem 0;
    width: 100%;
}
.testimonial h2{
    word-spacing: 3px;
    line-height: 1.5;
}
.flex-box{
    display: flex;
    gap: 1rem;
}
.name-card p{
    font-size: 1.2rem;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7rem;
}
.nav-link a{
    text-decoration: none;
    color: black;
    transition: all 250ms ease-in;
}
.nav-link a:hover,
.create-link a:hover{
    text-decoration: underline;
}
.intro-text h2{
    font-size: 2.5rem;
    padding-bottom: 1rem;
}
section:has(.navigation){
    width: 65vw;
    padding: 3% 7rem;
}
.form-contents{
    margin: 1rem 0;
}
.form-contents p{
    font-weight: 600;
}
.form-text{
    margin-bottom: 1rem;
}
.input{
    max-width: 42.5vw;
    /* border: red solid; */
    width: 100%;
}
input{
    width: 100%;
    text-transform: capitalize;
    padding: 1rem;
    font-size: 1rem;
}
.btn{
    padding: 1rem 2rem;
    width: 42.5vw;
    cursor: pointer;
    background: white;
    color: black;
    border: 1px solid black;
    border-radius: .25rem;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    transition: all 250ms ease-in;
}
.btn:hover{
    background: black;
    color:white;
}
.create-link p{ 
    font-size: 1.2rem;
}
.create-link a{
    color: blue;
    font-weight: 600;
    text-decoration: none;
    transition: all 250ms ease-in;
}
