@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Big+Shoulders+Text:wght@700&family=Fraunces:wght@700&family=Halant:wght@500;600&family=Hanken+Grotesk:ital,wght@0,700;0,800;1,500&family=Inter:wght@400;700&family=Karla:ital,wght@0,400;0,700;1,400;1,700&family=League+Spartan:wght@400;500;700&family=Lexend+Deca&family=Manrope:wght@400;500;600;700&family=Montserrat:wght@500;700&family=Open+Sans&family=Outfit:wght@300;400;600;700&family=PT+Sans:wght@700&family=Poiret+One&family=Poppins:ital,wght@0,200;0,400;0,500;0,600;1,200;1,400;1,500;1,600&family=Roboto:wght@300;400;500&family=Rubik:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    overflow-x: hidden;
    /* padding: 3% 4rem; */
}
.top_section{
    background-color: #000;
    padding: 1% 3rem;
    color: white;
    word-spacing: 2px;
}
.top_section p{
    /* margin: 0 4.5rem; */
    text-align: center;
    font-size: 1.rem;
    letter-spacing: .5px;
}
.nav_bar{
    padding: 2% 4.5rem 4% 4.5rem;
    width: 100%;
    background-color: #e3e3e3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-weight: 900;
    font-size: 1.5rem;
    letter-spacing: 1.2px;
}
.nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: 500;
}

#checkbox{
    opacity: 0;
}
nav ul li{
    position: relative;
}
nav ul li:last-child{
    display: none;
}
.div{
    display: flex;
    align-items: inherit;
    gap: 1.2rem;
}
.button{
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
}
.div a{
    text-decoration: none;
    color: #000;
}
.animated a{
    font-size: 1.2rem;
    color: #000;
    text-decoration: none;
}
.animated{
    cursor: pointer;
    border-radius: 5px; 
    display: inline-block;
    padding: 1rem;
    border: 2px solid #000;
    position: relative;
    isolation: isolate;
}
.animated::after{
    content: '';
    position: absolute;
    z-index: -2;
    background-color: #000;
    inset: 0;
    transform-origin: right;
    transition: all 400ms ease-in-out;
    scale: 0 1;
}
.animated:hover a{
    color: white;
}
.animated:hover:after,.animated:focus-visible::after{
    scale: 1 1;
    transform-origin: left;
}
nav ul li::before{
    content: '';
    position: absolute;
    background-color: #555;
    /* width: 0%; */
    inset: 0;
    scale: 0 1;
    height: 2px;
    transform-origin: center;
    transition: all 300ms ease-in;
    left: 0;
    top: 100%;
}
nav ul li:hover::before{
    scale: 1 1;
}
.first{
    background: #e3e3e3;
    width: 100%;
    padding: 4% 4.5rem 4% 4.5rem;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.text-wrap{
    width: 75%;
}
.text-wrap h2{
    font-size: 3rem;
    font-weight: 700;
    word-spacing: 2px;
    margin-bottom: 1rem;
}
.text-wrap p{
    font-weight: 300;
    line-height: 1.5;
    font-size: 1.1rem;
    padding-bottom: 1rem;
}
.flex_container{
    display: flex;
    justify-content: flex-start;
    gap: .6rem;
    font-weight: 600;
    padding-bottom: .3rem;
    align-items: center;
}
.flex_container:has(input){
    margin-top: 1rem;
}
.flex_container input{
    padding: 1rem;
    height: 62px;
    border: 2px solid white;
    border-radius: 5px;
}
.second-container{
    max-width: 470px;
}
.second-container img{
    /* width: min-content; */
    width: 100%;
    opacity: .7;
    transition: opacity 250ms ease-in,transform 250ms ease-in-out 250ms;
}
.second-container:hover img{
    opacity: 1;
    transform: translateY(-10px);
}
.wrapper{
    background: white;
    display: flex;
    /* justify-content: space-between; */
    padding: 2% 4.5rem;
    gap: 5%;
    /* width: 100%; */
    margin: 2% 0;
   }
.wrap{
    width: fit-content;
    transition: all 500ms ease;
}
.wrap img{
    width: 100%;
    height: 100%;
}
.wrap:hover img{
    transform: translateY(-10px);
    transition: all 700ms ease-out;
}
.phone-container{
    margin: 0 4.5rem;
    background: #e3e3e3;
    border-radius: 1rem;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.side-container{
    /* width: fit-content; */
}
.head-text{
    width: 50%;
    margin-bottom: .5rem;
    font-size: 1.2rem;
}
.text{
    width: 95%;
}
/* the text paragraph aint perfect yet */
.text>p{
    font-size: 1.2rem;
    word-spacing: 2px;
    letter-spacing: 1.1px;
    line-height: 1.5;
    font-weight: 300;
    padding-bottom: .5rem;
}
.animation{
    text-decoration: none;
    color: #000;
    font-weight: 700;
    transition: all 350ms ease-in-out;
    /* margin-bottom: 2px; */
}
.animation span{
    font-size: 1.3rem;
    text-decoration: underline;
    text-decoration-thickness: 1.3px;
}
.phone{
    width: 100%;
    height: 100%;
}
.phone img{
    width: 100%;
    height: 100%;
}
.pre-footer{
    display: flex;
    justify-content: flex-start;
    padding: .5% 4.5rem;
    gap: 15%;
}
.video-box{
    width: 100%;
}
.video-box img{
    width: 100%;
}
.video-text{
    width: 100%;
    margin-top: 4.5rem;
}
.video-text h3{
    font-size: 2.2rem;
    margin-bottom: .1rem;
    word-spacing: 5px;
}
.video-text p{
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}
.video-text a{
    color: black;
    text-decoration: underline;
    font-weight: 500;
    text-underline-offset: 3px;
}
.video-text span{
    font-size: 1.3rem;
}
footer{
    background-color: #000;
    padding: 2% 4.5rem;
    display: flex;
    justify-content: space-between;
}
div:has(.sub-links){
    background-color: #000;
    color: white;
}
.first-box{
    background-color: #000;
    color: white;
    width: 30%;
    display: flex;
    row-gap: .5rem;
    align-items: flex-start;
    /* justify-content: flex-start; */
    flex-direction: column;
}
.spense-text{
    opacity: 80%;
}
.second{
    display: flex;
    row-gap: 1rem;
    flex-direction: column; 
}
.sub-links a{
    display: block;
    margin-bottom: .5rem;
    opacity: 80%;
    text-decoration: none;
    color: white;
}
/* responsiveness */
@media screen and (max-width:1024px) {
    .top_section{
        padding: 1% 1rem;
        font-size: 90%;
        word-spacing: 80%;
    }
    .nav_bar{
        padding: 2% 2rem;
    }
    .first,.wrapper{
        padding: 3% 2rem;
    }
    .text-wrap{
    width: 85%;
    }
    .text-wrap h2{
        font-size: 2.5rem;
    }
    .flex_container{
        gap: 1rem;
    }
    .phone-container{
        margin: 0% 2rem;
    }
    .text{
        width: 100%;
    }
    .phone{
        width: 100%;
    }
    .phone img{
        width: 100%;
    }
    .pre-footer{
        margin: 2% 0;
    }
    .video-text{
        width: 100%;
        margin-top: 2.5rem;
    }
    .video-text h3{
        font-size: 1.5rem;
        margin-bottom: .4rem;
        word-spacing: 5px;
    }
    .video-text p{
        font-size: 95%;
        margin-bottom: .1rem;
    }
    footer{
        padding: 2% 2rem;
    }
    .first-box{
        width: 40%;
    }
    .spense-text p{
        font-size: 1rem;
        word-spacing: 1.5px;
    }
}
@media screen and (max-width:768px){
    nav ul li{
        font-size: 90%;
    }
    .button{
        font-size: 98%;
    }
    .animated{
        padding: .5rem;
    }
    .first{
        /* padding: 2% .5rem; */
        flex-direction: column-reverse;
        row-gap: 2rem;
    }
    .second-container{
        max-width: 700px;
    }
    .second-container img{
        width: 100%;   
    }
    .text{
        width: 100%;
        /* margin: 0 auto; */
        /* text-align: center; */
    }
    .text-wrap{
        width: 85%;
    }
    .flex_container input{
        max-height: 45px;
    }
    .phone-container{
        flex-direction: column;
        row-gap: 2rem;
        justify-content: center;
        padding: 1.5rem;
        align-items: center;
    }
    .side-container{
        margin-left: 10%;
    }
    .phone{
        max-width: 900px;
    }
    .phone img{
        width: 100%;
        margin-left: -20%;
        margin-bottom: -3.5%;
    }
    .pre-footer{
        flex-direction: column-reverse;
        padding: 1.5rem;
    }
    .video-text{
        width: 90%;
    }
    .video-text p{
        word-spacing: 2px;
        letter-spacing: 1.3 px;
    }
    footer{
        flex-wrap: wrap;
        column-gap: 2.5rem;
        align-items: flex-start;
        justify-content: flex-start;
        padding:  1.2rem;
        row-gap: 1rem;
    }
    .first-box{
        width: 60%;
    }
    .spense-text{
        width: 100%;
    }
}
@media screen and (max-width:425px) {
    .nav{
        position: fixed;
        left: -100%;
        width: 100%;
        top: 0;
        transition: all .65s ease-in;
        z-index: 5;
    }
    .nav ul{
        flex-direction: column;
        background-color: #e3e3e3;
        row-gap: 2rem;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        text-transform: uppercase;
        height: 100vh;
        text-align: center;
        padding: 1rem 0;
        overflow: scroll;
    }
    .div{
        position: fixed;
        left: -100%;
    }
    header{
        overflow-x: hidden;
    }
    .hamburger,.line{
        position: relative;
        z-index: 11;
        transition: all .4s ease-in-out;
    }
    .line{
        width: 30px;
        transform-origin: center;
        background-color: #000;
        height: 3px;
    }    
    .line:not(:last-child){
        margin-bottom: 3px;
    }
    #checkbox:checked ~ .nav{
        left: 0;
    }
    #checkbox:checked ~ .hamburger .line:nth-child(1){
        transform: rotate(45deg) translateY(7px);
    }
    #checkbox:checked ~ .hamburger .line:nth-child(3){
        transform: rotate(-45deg) translateY(-9px);
    }
    #checkbox:checked ~ .hamburger .line:nth-child(2){
        width: 0;
    }
    nav ul li:last-child{
        display: contents;
    } 
    .text-wrap{
        width: 100%;
    }  
    .text-wrap h2{
        font-size: 1.7rem;
    } 
    .text-wrap p{
        font-size: 95%;
    }
    .flex_container img{
        width: 4%;
    }
    .flex_container p{
        font-size: 95%;
    }
    .flex_container:has(input){
        flex-wrap: wrap;
        row-gap: 2rem;
    }
    .wrap img{
        width: 95%;
    }
    .head-text{
        width: 70%;
    }
    .head-text h2{
        font-size: 1.7rem;
    }
    .text{
        width: 100%;
    }
    .text p{
        font-size: 95%;
    }
    .pre-footer{
        margin: 0;
        padding: 0 2rem;
    }
    .video-text{
        width: 100%;
    }
    .video-text h3{
        font-size: 2rem;
    }
    .video-text p{
        font-size: 90%;
    }
    footer{
        row-gap: 3rem;
        column-gap: 20%;
        justify-content: space-between;
    }
    .first-box{
        width: 100%;
    }
}
