@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after{
    padding: 0;
    /* transition: .5s ease-in-out; */
    margin: 0;
    box-sizing: border-box;
}

/* introductory pages */
body{
    background: #fff;
    padding-left: 3rem;
    font-family: 'Poppins', sans-serif;
    /* overflow: hidden; */
}
.main-section{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.first{
    padding: 2.5rem 4rem 4rem 2rem;
    /* margin-bottom: 2rem; */
}
.logo-box{
    padding-bottom: 5rem;
}
.hero-image{
    width: 90%;
}
.header-text{
    padding-top: 4rem;
    width: 100%;
}
.header-text h1{
    font-size: 3rem;
    font-weight: 600;
    word-spacing: 3px;
}
.header-text p{
    font-weight: 300;
}
.flex-box{
    padding-top: 1.5rem;
}
.box{
    display: flex;
    word-spacing: 1.2px;
    font-weight: 300;
    gap: .5rem;
    margin-bottom: 1rem;
}
.footer-icons{
    display: flex;
    gap: 5%;
    padding-top: 1rem;
}
.desktop-image{
    display: none;
}

html span{
    transition: none;
}
.introduction p{
    font-weight: 300;
}
.container{
    transition: .5s ease-in-out;
    max-width: 200px;
    padding: .5rem 0 2rem 0;
    width: 100%;
    transition: all .5s ease-in-out;
}
.container a{
    overflow: hidden;
    text-align: center;
    position: relative;
    transition: .5s ease-in-out;
    display: block;
    padding: 0 1rem;
    border-radius: 10px;
    /* margin: 0 auto; */
    text-decoration: none;
    color: black;
    line-height: 40px;
    width: 100%;
    max-width: 250px;
    text-transform: capitalize;
    border: 2px solid black;
}
.container a:hover{
   color: white;
}

.alternate::before,
.alternate::after,
.alternate span::after,
.alternate span::before{
   content: '';
   position: absolute;
   z-index: -1;
   top: 0;
   transition: .5s ease-in-out;
   width: 25%;
   height: 0;
   background-color: black;
}
.alternate::before{
   left: 0;
}
.alternate::after{
   left: 50%;
}
header{
    display: none;
}
.alternate span::before,
.alternate span::after{
   bottom: 0;
   top: auto;    
}
.alternate span::before{
   left: 25%;
}
.alternate span::after{
   left: 75%;
}
.alternate:hover::before,
.alternate:hover:after,
.alternate:hover span::before,
.alternate:hover span::after
{
   height: 40px;
}
/* respnsiveness */
@media screen and (max-width:1024px) {
    
    .header-text{
        width: 100%;
    }
    .header-text h1{
        font-size: 2.5rem;
        margin-bottom: .5rem;
    }
    .header-text p{
        font-size: 90%;
    }
    .footer-icons{
        gap: 2%;
    }
}
@media screen and (max-width:768px){
    .logo-box{
        display: none;
    }
    header{
        display: contents;
    }
    .logo{
        padding-left: 2rem;
        margin: 2rem 0;
    }
    .main-section{
        flex-direction: column-reverse;
    }
    body{
        padding-left: 0;
    }
    .first{
        padding-left: 2rem;
        margin-bottom: 0rem;
    }
    .hero-image{
        display: none;
    }
    .desktop-image{
        display: contents;
    }
    .container{
        transition: none;
    }
    .container a{
        background: black;
        color: #fff;
    }
}
@media screen and (max-width:425px){
    .desktop-image img{
        width: 100%;
        /* object-fit: cover; */
    }
    .desktop-image{
        width: 100%;
    }
    .container{
        margin-top: 1rem;
    }
    .first{
        padding-left: 1rem;
        margin-bottom: 0rem;
    }
    .header-text{
        width: 90vw;
    }
    .box{
        margin-bottom: .5rem;
        font-size: 80%;
    }
    .box img{
        width: 5%;
    }
    .box p{
        padding-top: .2rem;
    }
    .footer-icons img{
        width: 40%;
    }
    .header-text h1{
        line-height: 1.2;
        font-size: 2rem;
    }
    .first
    ,.second{
        width: 100%;
    }
}
